.orBox{
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}

.orSeparator{
     background-color: var(--wellighten_grey);
     height: 1px;
     width: 100px;
}

.orText{
     font-size: 0.9rem;
     text-align: center;
     color: var(--wellighten_grey);
}


/* logoNTextBox */
.logoNTextBox{
     display: flex;
     align-items: center;
}

.logoNTextBox p{
     font-weight: 700;
     font-size: 1.6rem;
     color: var(--wellighten_black);
}