.orBox{
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}

.orSeparator{
     background-color: var(--wellighten_grey);
     height: 1px;
     width: 100px;
}

.orText{
     font-style: normal;
     font-weight: 700;
     font-size: 7.90262px;
     line-height: 10px;
     text-align: center;
     letter-spacing: -0.130393px;
     color: var(--wellighten_grey);

}


/* logoNTextBox */
.logoNTextBox{
     display: flex;
     align-items: center;
}

.logoNTextBox p{
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 29px;
     text-align: center;
     letter-spacing: -0.165px;
     color: var(--wellighten_black);
}