.loginIllusBox{
     padding-top: 20px;
     padding-bottom: 20px;
}


.loginIllus {
     background-image: url('/loginillus.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
     height: 300px;
     margin: auto;
}

.textFieldBox{
     padding-top: 12px;
     padding-bottom: 12px;
     display: flex;
     align-items: center;
}

.forgotPasswordText{
     padding-top: 12px;
     padding-bottom: 12px;
     color: var(--wellighten_blue); 
     font-weight: 400;
     font-size: 0.9rem;
     justify-items: center;
}

.termsNConditionText a{
     text-decoration: none;
}


.notRegisteredFullText{
     padding-top: 12px;
     padding-bottom: 12px;
     font-weight: 400;
     font-size: 1rem;
     color: var(--wellighten_deeper_grey);
}