.bottomNavbarBox{
     position: fixed;
     width: 100%;
     height: 90px;
     padding: 15px;
     box-sizing: border-box;
     display : flex;
     align-items: center;
     bottom: 0px;
     background-color: white;
     border-top: 1px solid #a09f9f;
}

.slider{
     position: absolute;
     background-color :var(--wellighten_blue);
     width: 27%;
     height: 50px;
     border-radius: 10px;
     z-index: -1;
}

