.onboardingBox{
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}

.skipBar{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.skipBar p {
     font-size: 1.3rem;
}

.slider{
     padding-bottom: 5px;
}

.slide h3{
     font-weight: 600;
     font-size: 20px;
     line-height: 24px;
     text-align: center;
     letter-spacing: -0.165px;
     color: var(--wellighten_purplishblue);
     padding: 10px;
     font-size: 1.8rem;
     padding-top: 40px;
}

.slide p{
     padding: 5px;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     letter-spacing: -0.165px;
     color: var(--black);
     font-size: 1.3rem;
}
